<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Account: {{ admin_username }} </title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Admin Account: {{ admin_username }}</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Hasta Ekle</h5>
            <p class="card-text">Buradan yeni hastalar ekleyebilirsiniz.</p>
            <a href="{% url 'hasta_ekle' %}" class="btn btn-primary">Hasta Ekle</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Doktor Ekle</h5>
            <p class="card-text">Yeni doktorlar eklemek için burayı kullanabilirsiniz.</p>
            <a href="{% url 'doktor_ekle' %}" class="btn btn-primary">Doktor Ekle</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Rapor Ekle</h5>
            <p class="card-text">Buradan yeni raporlar ekleyebilirsiniz.</p>
            <a href="{% url 'rapor_ekle' %}" class="btn btn-primary">Rapor Ekle</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Hasta Görüntüle</h5>
            <p class="card-text">Tüm hastaları görüntülemek için tıklayın.</p>
            <a href="{% url 'hasta_goruntule' %}" class="btn btn-primary">Hasta Görüntüle</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Doktorları Görüntüle</h5>
            <p class="card-text">Tüm doktorları görüntülemek için tıklayın.</p>
            <a href="{% url 'doktor_goruntule' %}" class="btn btn-primary">Doktorları Görüntüle</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (jQuery dahil) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
