<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hasta Görüntüleme</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Hasta Görüntüleme</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Hasta ID</th>
          <th scope="col">Ad</th>
          <th scope="col">Soyad</th>
          <th scope="col">Doğum Tarihi</th>
          <th scope="col">Cinsiyet</th>
          <th scope="col">Telefon</th>
          <th scope="col">Adres</th>
          <th scope="col">Kullanıcı Adı</th>
          <th scope="col">Şifre</th>
        </tr>
      </thead>
      <tbody>
        {% for hasta in hastalar %}
        <tr>

                    <td>{{ hasta.0 }}</td>
                    <td>{{ hasta.1 }}</td>
                    <td>{{ hasta.2 }}</td>
                    <td>{{ hasta.3 }}</td>
                    <td>{{ hasta.4 }}</td>
                    <td>{{ hasta.5 }}</td>
                    <td>{{ hasta.6 }}</td>
                    <td>{{ hasta.7 }}</td>
                    <td>{{ hasta.8 }}</td>
                    <td>
            <a href="{% url 'hasta_detay' hasta.0 %}" class="btn btn-info">Detaylar</a> <!-- Buton eklendi -->
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <!-- Bootstrap JS (jQuery dahil) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>